<% provide(:title, "Search") %>
<h1>Search</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.label :search %>
            <%=f.text_field :search %>
         
            <%= f.submit "Search", class: "btn btn-large btn-primarey" %>
        <% end %>
    </div>
</div>